<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='site-logo'>
    <h1>
      <%= link_to image_tag("logo.png", class:"logo-icon"), "/" %>
    </h1>
    <ul class='lists-right'>
      <%# ログインの有無で表示が変わる%>
      <% if user_signed_in? %>
      <li><%= link_to image_tag("mypage.png", class:"right-list mypage-icon"), "/users/#{current_user.id}" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "right-list login-btn" %></li>
      <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "right-list login-btn" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "right-list register-btn" %></li>
      <% end %>
    </ul>
  </div>
</header>