<% @restaurants.each do |restaurant| %>
  <li>
    <div class="restaurant-lists">
      <div class="restaurant-image">
        <%= link_to restaurant_path(restaurant.id) do %>
          <%= image_tag restaurant.image, class:"restaurant-img" %>
        <% end %>
      </div>
      <div class="restaurant-info">
        <h3 class="restaurant-name">
          <%= link_to restaurant.name, restaurant_path(restaurant.id) %>
        </h3>
        <div class="index-like">
          <i class="fas fa-heart"></i> <%= restaurant.liked_users.count %>
        </div>
        <div class="restaurant-genre">
          <div class="genre-name">
            <i class="fas fa-utensils"></i><%= restaurant.genre.name %>
          </div>
        </div>
        <div class="restaurant-closed"><%= "定休日：#{restaurant.closed}" %></div>
      </div>
    </div>
  </li>
<% end %>