<%# CSS・・・assets/stylesheets/shared/second-header.css %>
<ul class='lists-center'>
  <li><%= link_to 'HOME', "#", class: "center-list" %></li>
  <li><%= link_to 'ABOUT', "#", class: "center-list" %></li>
  <li><%= link_to 'HOW TO', "#", class: "center-list" %></li>
  <li><%= link_to 'EAT', "#", class: "center-list" %></li>
  <li><%= link_to 'CHAT', "#", class: "center-list" %></li>
</ul>