<%# CSS・・・assets/stylesheets/shared/second-header.css %>
<ul class='lists-center'>
  <li><%= link_to 'HOME', root_path, class: "center-list" %></li>
  <li><%= link_to 'ABOUT', "#", class: "center-list" %></li>
  <li><%= link_to 'HOW TO', "#", class: "center-list" %></li>
  <li><%= link_to 'EAT', restaurants_path, class: "center-list" %></li>
  <li><%= link_to 'CHAT', messages_path, class: "center-list" %></li>
</ul>