<%# CSS・・・assets/stylesheets/restaurants/new.css %>
<div class="registration-background">
  <div class="post-panel">

    <%= form_with model: @restaurant, class: 'registration-main', local: true do |f| %>
      <h1>編集する</h1>

      <%# エラーメッセージ表示 %>
      <%= render "shared/error_messages", model: @restaurant %>

      <%# 写真選択 %>
      <div class="form-group">
        <div>
          <label class="info-text">写真</label>
          <div class="notes">外観やメニュー、料理の写真などを共有しよう</div>
        </div>
        <%= image_tag @restaurant.image, class:"restaurant-img" if @restaurant.image.present? %>
        <div id="restaurant-image-list"></div>
        <%= f.file_field :image, class:"image-form" %>
      </div>

      <%# 店名 %>
      <div class="form-group">
        <div>
          <label class="info-text">お店の名前</label>
        </div>
        <%= f.text_field :name, class:"form-space" %>
      </div>

      <%# 評価 %>
      <div class="form-group" id="taste_star">
        <%= f.label :taste_rate,'おいしさ　', class:'col-md-3 col-form-label' %>
        <%= f.hidden_field :taste_rate, id: :review_star %>
      </div>

      <script>
        $(document).ready(function() {
          $('#taste_star').raty({
            size     : 15,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            scoreName: 'restaurant[taste_rate]',
            half: true,
          });
        });
      </script>  

      <div class="form-group" id="price_star">
        <%= f.label :price_rate,'値段　　　', class:'col-md-3 col-form-label' %>
        <%= f.hidden_field :price_rate, id: :review_star %>
      </div>

      <script>
        $('#price_star').raty({
          size     : 15,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'restaurant[price_rate]',
          half: true,
        });
      </script>  

      <div class="form-group" id="service_star">
        <%= f.label :service_rate,'接客　　　', class:'col-md-3 col-form-label' %>
        <%= f.hidden_field :service_rate, id: :review_star %>
      </div>

      <script>
        $('#service_star').raty({
          size     : 15,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'restaurant[service_rate]',
          half: true,
        });
      </script>  

      <%# カテゴリー %>
      <div class="form-group">
        <div>
          <label class="info-text">カテゴリー</label>
        </div>
        <div class="select-wrap">
          <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
        </div>
      </div>

      <%# 雰囲気 %>
      <div class="form-group">
        <div>
          <label class="info-text">お店の雰囲気</label>
        </div>
        <div class="select-wrap">
          <%= f.collection_select(:ambiance_id, Ambiance.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
        </div>
      </div>

      <%# 価格帯 %>
      <div class="form-group">
        <div>
          <label class="info-text">価格帯</label>
        </div>
        <div class="select-wrap">
          <%= f.collection_select(:price_id, Price.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
        </div>
      </div>

      <%# 店舗説明 %>
      <div class="form-group">
        <div>
          <label class="info-text">キャプション</label>
          <div class="notes">味の感想やサービスの質、客層などを共有しよう</div>
        </div>
        <%= f.text_area :description, class:"form-space-large" %>
      </div>

      <%# 電話番号 %>
      <div class="form-group">
        <div>
          <label class="info-text">お店の電話番号</label>
          <div class="notes">ハイフンなしの半角入力</div>
        </div>
        <%= f.text_field :tel, class:"form-space" %>
      </div>

      <%# 住所 %>
      <div class="form-group">
        <div>
          <label class="info-text">お店の住所</label>
        </div>
        <%= f.text_field :address, class:"form-space" %>
      </div>

      <%# 営業時間 %>
      <div class="form-group">
        <div>
          <label class="info-text">営業時間</label>
        </div>
        <%= f.text_area :opening_hour, class:"form-space-large" %>
      </div>

      <%# 定休日 %>
      <div class="form-group">
        <div>
          <label class="info-text">定休日</label>
        </div>
        <%= f.text_area :closed, class:"form-space-large" %>
      </div>

      <%# ホームページ %>
      <div class="form-group">
        <div>
          <label class="info-text">ホームページ</label>
        </div>
        <%= f.text_area :webpage, class:"form-space" %>
      </div>

      <%# 駐車場 %>
      <div class="form-group">
        <div>
          <label class="info-text">駐車場</label>
        </div>
        <%= f.text_area :parking, class:"form-space" %>
      </div>

      <%# 備考 %>
      <div class="form-group">
        <div>
          <label class="info-text">備考</label>
        </div>
        <%= f.text_area :others, class:"form-space-large" %>
      </div>

      <div class="actions">
        <%= f.submit "投稿する", class:"register-btn" %>
      </div>

      <div class="actions">
        <%=link_to 'もどる', restaurant_path(@restaurant.id), class:"back-btn" %>
      </div>
    <% end %>
  </div>
</div>