<%# CSS・・・assets/stylesheets/restaurants/index.css %>
<%= render 'shared/header' %>
<%= render 'shared/second-header' %>

<div class="restaurant-page">
<%# 左のエリア %>
  <div class="left-side-restaurant">
    <div class="left-child">
    </div>
  </div>

  <%# 右のエリア %>
  <div class="right-side-restaurant">
    <h2 class="right-side-header">カフェ・レストラン一覧</h2>
    <% @restaurants.each do |restaurant| %>
      <div class="restaurant-lists">
        <li>
          <div class="restaurant-image">
            <%= link_to restaurants_path(restaurant.id) do %>
              <%= image_tag restaurant.image, class:"restaurant-img" %>
            <% end %>
          </div>
          <div class="restaurant-info">
            <h3 class="restaurant-name">
              <%= restaurant.name %>
            </h3>
            <div class="restaurant-genre">
              <div class="genre-icon"></div>
              <div class="genre-name"><%= restaurant.genre.name %></div>
            </div>
            <div class="restaurant-closed"><%= restaurant.closed %></div>
          </div>
        </li>
      </div>
    <% end %>
  </div>
</div>