<div class="pc-menu">
  <%= render 'shared/header' %>
  <%= render 'shared/second-header' %>
</div>

<div class="restaurant-page">
<%# 左のエリア %>
  <div class="left-side-restaurant">
    <%= render 'shared/index_left' %>
  </div>

  <%# 右のエリア %>
  <div class="right-side-restaurant">
  <%= render 'shared/hamburger' %>
  <h2 class="right-side-header">『<%= params[:keyword] %>』の検索結果</h2>
  <div class="pc-index-hidden">
    <%= render 'shared/index_left' %>
  </div>
    <%= render 'shared/index_right' %>
  </div>
</div>