<%# CSS・・・assets/stylesheets/restaurants/top.css %>
<%= render 'shared/header' %>
<%= render 'shared/second-header' %>
<div class="top-container">
  <div class="above-main">
    <div class="top-head-text">O!SHI-ete</div>
    <%= image_tag 'top-header.jpg', class:"top-head-image" %>
  </div>
  <div class="index-main">
    <%# CSS・・・assets/stylesheets/restaurants/about.css %>
    <div class="about", id="about">
      <h1 class="about-headline">O!SHI-eteとは？</h1>
      <%= image_tag 'dish.png', class:"about-icon" %>
      <%= render 'shared/about' %>
    </div>
    <div class="top-middle-image-position">
      <%= image_tag 'toppage.jpg', class:"top-middle-image"%>
    </div>
    <div class="how-to", id="how_to">
      <h1 class="howto-head"><span class="howto-headline">　使い方　</span><i class="fas fa-highlighter"></i></h1>
      <%= render 'shared/how_to' %>
    </div>
    <div id="back_to_top"><a href="#top", class="back-to-top-btn">TOP</a></div>
  </div>
</div>
